<h1>hello user </h1>
<h1>welcome home sir</h1>
{% if messages %}
  {% for message in messages %}
    <div class="alert alert-{{ message.tags }}" role="alert">
      {{ message }}
    </div>
  {% endfor %}
{% endif %}
<!-- {% if messages %} -->
    <!-- {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">{{ message }}</div>
    {% endfor %}
{% endif %} --> 
session_data = request.session.items()
    print("DEBUG: Session Data -", dict(session_data))  # 
<form method="post" action="{% url 'logout_v' %}">
    {% csrf_token %}
    <button type="submit">Log Out</button>
</form>